{% extends "base.html" %}

{% block content %}
<section id="admin">
    <h2><i class="fas fa-user-shield"></i> Painel de Administrador</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Mensagem</th>
            </tr>
        </thead>
        <tbody>
            {% for msg in mensagens %}
            <tr>
                <td>{{ msg.id }}</td>
                <td>{{ msg.nome }}</td>
                <td>{{ msg.email }}</td>
                <td>{{ msg.mensagem }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endblock %}