{% extends "base.html" %}

{% block content %}
<section id="login">
    <h2>Login</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <form id="formLogin" action="{{ url_for('autenticar') }}" method="POST">
        <div class="input-group">
            <input type="email" name="email" placeholder="Seu Email" required>
            <i class="fas fa-envelope"></i>
        </div>
        <div class="input-group">
            <input type="password" name="senha" placeholder="Sua Senha" required>
            <i class="fas fa-lock"></i>
        </div>
        <button type="submit">Entrar</button>
    </form>
</section>
{% endblock %}